apiVersion: v1
kind: Service
metadata:
  labels:
    app: my-final-app
  name: my-final-app
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: my-final-app
  type: NodePort
status:
  loadBalancer: {}
